.analysis-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
}

.analysis-card {
    width: 500px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}



#graph {
    background-color: #faf9f8;  /* 배경색을 흰색으로 설정 */
    border-radius: 5px;      /* 그래프 모서리를 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 그래프에 그림자 추가 */
}

.title {
    text-align: center;
    color: #1890ff;
    font-size: 24px;
    font-weight: 600;
}

.description {
    text-align: center;
    color: #595959;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.button-group button[type="submit"] {
    background: #1890ff;
    color: white;
}

.button-group button[type="submit"]:hover {
    background: #40a9ff;
}

.button-group button[type="button"] {
    background: #f5f5f5;
    color: #595959;
}

.button-group button[type="button"]:hover {
    background: #d9d9d9;
}

.graph-container {
    width: calc(100vw - 500px);
    height: 100%;
    margin-left: 3vw;
    margin-top: 10vh;
    position: relative;  /* 버튼을 화면 하단에 고정시키기 위해 추가 */
}

.graph-buttons {
    display: flex;
    justify-content: center;
    position: absolute;  /* 버튼을 하단에 고정 */
    bottom: 20px;  /* 하단에서의 간격 */
    width: 100%;
    gap: 20px;
}

.graph-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: #1890ff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.graph-button:hover {
    background-color: #40a9ff;
}

